#root{
    --color-primary: #2563EB; /* 主要蓝色 */
    --color-primary-light: #60A5FA; /* 亮蓝，用于悬停状态或次要元素 */
    --color-primary-dark: #1E40AF; /* 深蓝，用于文字或强调重要性 */

    --color-success: #10B981; /* 成功绿，用于正面反馈 */
    --color-warning: #FBBF24; /* 警告黄，用于警告信息 */
    --color-error: #EF4444; /* 错误红，用于错误信息 */

    --color-gray-light: #E5E7EB; /* 浅灰，用于背景或不重要的元素 */
    --color-gray-dark: #374151; /* 深灰，用于文字或边框 */
    --color-gray-text: #6B7280;
    --color-background: #ffffff;
    --transparent-background:rgba(255, 255, 255, 0.6)
}
.no-scrollbar::-webkit-scrollbar {
    display: none
}

/* 整个滚动条 */
::-webkit-scrollbar {
    width: 8px; /* 垂直滚动条宽度 */
    height: 8px; /* 水平滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* 滚动条滑块悬停时 */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.full{
    width: 100%;
    height: 100%;
}

.link{
    cursor: pointer;
    color: var(--color-primary);
}
.link:hover{
    color: var(--color-primary-light);
}