.paperContainer{
    height: 100%;
}
/* 自定义滚动条 */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
    height: 8px; /* 横向滚动条高度 */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* 滚动条颜色 */
    border-radius: 4px; /* 圆角 */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* 悬停颜色 */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent; /* 滚动条轨道背景 */
}

.paperHeader{
    background-color: #fff;
}